    * {
        background-color:lightblue;
    }
    
    #tableClass {
        border-color: black;
        width: 55%;
        margin-top: 10%;
        margin: 0 auto;
        text-align: center;
        background-color:grey;
       
    }
    
    h2
    {
        font-family:cursive;
    }
   